@font-face {
  font-family: UTMAvo;
  src: url(/fonts/utm-avo.woff);
}

#perfomance {
  text-align: center;
}

#perfomance h2 {
  margin-bottom: 18px;
}

#perfomance > p {
  margin-bottom: 16px; 
  font-size: 19px;
  font-weight: 300;
}

#perfomance > span {
  display: block;
  margin-bottom: 23px;
  color: #C99C34;
  font-size: 20px;
  font-style: italic;
  font-weight: medium;
}

.perfomance__list {
  display: flex;
  justify-content: space-around;
}

.perfomance-list__item {
  width: calc(33% - 60px);
}

.perfomance-list__value {
  display: block;
  margin-bottom: 25px;
  color: #1030A4;
  font-family: 'UTMAvo', Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.perfomance-list__name {
  display: block;
  margin-bottom: 8px;
  color: #B99239;
  font-size: 30px;
  font-weight: 700;
}

.perfomance-list__item p {
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
}