@font-face {
  font-family: Freya;
  src: url(/fonts/Freya-Wyy0Y.otf);
}

#about {
  position: relative;
  text-align: center;
}

.about__logo {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 25%);
  width: 320px;
  height: 164px;
}

.about__content {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
}

.about__content p {
  width: 985px;
  height: 96px;
  margin: 10px auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.about__top {
  color: #324A9E;
  
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
}

.about__sign {
  color: #324AA0;
  font-size: 41px;
  line-height: 72px;
  font-family: 'Freya', Arial, Helvetica, sans-serif;
}

