#footer {
  padding-bottom: 0;
  background: #05195B;
  color: #ffffff;
}

#footer > hr {
  margin-left: -260px;
  margin-right: -260px;
  border: 1px solid #1C54B1;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}

.footer-top__icon {
  display: flex;
}

.footer-top__icon > li > a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  
  border: 1px solid #ffffff;
  border-radius: 100%;
  margin-right: 10px;

  color: inherit;
  line-height: 50px;
  text-align: center;
}
  
.footer-top__icon > li > a::before,
.footer-top__icon > li > a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.footer-top__icon > li > a::before,
.footer-top__icon > li > a:after,
.footer-top__icon > li > a:hover  {
  border: 1px solid transparent;
}

.footer-top__icon > li > a:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

.footer-top__icon > li > a:hover::after {
  border-top: 1px solid #fff;
  border-left-width: 1px;
  border-right-width: 1px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.footer-top__logo {
  display: flex;
  align-items: center;
}

.footer-top__logo > img {
  margin-left: 20px;
}
  
.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer-content__logo {
  width: 304px;
  height: 102px;
  align-self: center;
}

.footer-content__list {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex: auto;
  margin: 0 54px;
}
  
.footer-content__item {
  width: calc(33% - 26px);
  padding-top: 50px;
}
  
.footer-content__item span {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
}

.footer-content__item ul {
  padding-left: 10px;
}

.footer-content__item > ul > li {
  height: 43px;
  font-size: 18px;
  font-weight: 300;
}

.footer-content__app {
  padding-top: 50px;
}

.footer-content__app > span {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
}

.content-item__app {
  position: relative;

  display: flex;
  align-items: center;

  width: 298px;
  height: 84px;

  padding: 21px 17px;
  border: 1px solid #1C54B1;
  border-radius: 3px;

  cursor: pointer;
}

.content-item__app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.content-item__app::before,
.content-item__app:hover {
  border: 1px solid transparent;
}

.content-item__app:hover::before {
  border-top-color: #1C54B1;
  border-right-color: #1C54B1;
  border-bottom-color: #1C54B1;
  border-left-color: #1C54B1;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s, border-left-color 0.15s linear 0.30s;
}

.content-item__app > p {
  font-size: 19px;
  font-weight: 400;
  line-height: 29px;
}

.content-item__app > p > span {
  font-size: 17px;
}

.content-item__app img {
  width: 38px;
  height: 48px;
  margin-right: 22px;
}

.content-item__app + .content-item__app {
  margin-top: 30px;
}

.content-item__app li {
  padding: 10px;
}

.footer__copyright {
  margin-left: -260px;
  margin-right: -260px;
  background: #011450;
  color: #ffffff;
  font-size: 18px;
  line-height: 81px;
  text-align: center;
}
