#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 31px;
}
  
.header__logo > img {
  width: 161px;
  height: 82px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  height: 24px;
}

.header__menu li {
  padding: 0 48px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color: #707070;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 22px;
}

.header__menu i {
  font-size: 14px;
}

.header__menu li + li {
  border-left: 1px solid #707070;
}

.header__menu li:last-child {
  padding-right: 33px;
}

.header__download {
  padding-right: 18px;
  font-size: 37px;
  cursor: pointer;
}

.header__login {
  padding: 8px 18px;
  border: none;
  border-radius: 3px;
  margin-right: 21px;
  background-image: linear-gradient(#324A9E, #00229A);
  color: white;
  font-size: 18px;
  line-height: 21.6px;
  cursor: pointer;
}

.header__login:hover {
  opacity: .8;
}

.header__login i {
  font-size: 16px;
}

.header__language {
  height: 24px;
  font-size: 18px;
  cursor: pointer;
  color: #515151;
}

.header__language > img {
  display: inline;
  height: 24px;
}

.header__language > i{
  font-size: 5px;
  line-height: 24px;
}