#home {
  display: flex;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.home__left {
  width: 402px;
  height: 815px;
  padding: 34px 26px;
  background: transparent linear-gradient(0deg, #00165E 0%, #004391 100%) 0% 0% no-repeat padding-box;
}

.home-left__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 342px;
  height: 42px;

  padding: 0 8px;
  border-radius: 3px;
  margin-bottom: 10px;

  background-color: #E2AD00;
  color: #ffffff;

  font-weight: 700;
}

.home-left__list {
  height: 683px;
  overflow: auto;
}

.home-left__list::-webkit-scrollbar {
  width: 7px;
}

.home-left__list::-webkit-scrollbar-thumb {
  background: #105FBC; 
  border-radius: 10px;
}

.home-left__list::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #050C13;
  opacity: 0.43;
}

.left-title__state {
  font-size: 21px;
}

.left-title__sum {
  font-size: 24px;
}

.left-list__item {
  position: relative;

  width: 339px;
  height: 221px;
  margin-bottom: 10px;
}

.left-list__item img {
  width: 100%;
  height: 100%;
}

.list-item__connect {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  font-weight: 400;
}

.item-connect__left {
  height: 31px;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
  background-color: #001D85;
  color: #ffffff;
  line-height: 31px;
}

.item-connect__right {
  padding-right: 8px;
  color: #fff;
  font-size: 21px;
}

.item-connect__right--mark {
  color: red;
}

.list-item__info {
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  bottom: 0;

  padding: 8px;
  
  color: #ffffff;
  background: linear-gradient(0deg, #000000 0%, #000000 13%, #00000000 100%);
}

.list-item__name {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
  line-height: 24.52px;
}

.list-item__cost {
  color: #f9cb2d;
  font-weight: bold;
}

.list-item__value {
  float: right;
  color: #F9CB2D;
  font-weight: bold;
}

/* Home Right */
.home__right {
  position: relative;
  flex: auto;
  padding-bottom: 10px;
  background: url('../imgs/5.png') no-repeat center right / cover;
}

.home-right__top {
  display: flex;
  justify-content: space-between;
  margin: 21px 18px;
}

.home-right__menu {
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 819px;
  height: 56px;

  

  color: #fff;
  background: #001D85;

  font-size: 18px;
}

.home-right__menu li {
  text-transform: uppercase;
}

.home-right__menu li a {
  display: inline-block;
  line-height: 54px;
}

.home-right__menu a:hover{
  color: #FEDC01;
  border-bottom: 1px solid #FEDC01;
}

.home-right__search {
  display: flex;
  justify-self: end;
}

.home-right__search-input {
  height: 56px;
  padding: 10px;
  border: 1px solid #324AA0;

  background-color: rgba(50, 74, 160, .04);
  color:#fff;

  font-size: 20px;
  font-weight: 300;
}

.home-right__search-btn {
  width: 53px;
  height: 56px;
  
  border-radius: 0 5px 5px 0;

  background-color: #0F2B8E;
  color: #fff;

  cursor: pointer;
  font-size: 29px;
  line-height: 56px;
  text-align: center;
}

.home-right__search-btn:hover {
  opacity: .8;
}

.home-right__position {
  width: 56px;
  height: 56px;

  border-radius: 5px;
  margin-left: 10px;

  background-color: #0F2B8E;
  color: #fff;

  font-size: 29px;
  line-height: 56px;
  text-align: center;
}

.home-right__position:hover {
  opacity: .8;
}

.home-right__bottom {
  position: absolute;
  bottom: 2%;
  z-index: 100;
  width: 100%;
  height: 55px;
  background: linear-gradient(90deg, #002FC92B 0%, #0A38DC 47%, #002FC930 100%);
  color: #FFFFFF;
  text-align: center;
  line-height: 55px;
  font-size: 22px;
  font-weight: 400;
}

.home-right__bottom > p {
  opacity: 1;
}





