#partner {
  text-align: center;
  background-color: #F9FAFC;
}

#partner > p {
  color: #343434;
  font-size: 20px;
}

.partner__item {
  display: flex;
  flex-wrap: wrap;
  margin: 60px -12px -24px;
}

.partner__item > div {
  flex-basis: calc(100% / 6 - 24px);
  margin: 0 12px 24px;
  background-color: #fff;
}

.partner__item > div > img {
  width: 100%;
} 

.partner__item img:hover {
  box-shadow: rgb(45 45 45 / 5%) 0px 2px 2px, rgb(49 49 49 / 5%) 0px 4px 4px, rgb(42 42 42 / 5%) 0px 8px 8px, rgb(32 32 32 / 5%) 0px 16px 16px, rgb(49 49 49 / 5%) 0px 32px 32px, rgb(35 35 35 / 5%) 0px 64px 64px;
}